.App {
  text-align: center;
  background-color: aliceblue;

}

.game-container {
  max-width: 700px;
}

.rule-box {
  margin: 1.5em;
  max-width: 550px;
}

.rules {
  text-align: left;
  font-size: 1.25rem;
}

#submit {
  font-size: 1.5rem;
  cursor: pointer;
}


@media (max-width: 480px) {

}







.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
